<!DOCTYPE html>
<html>
<head>
  <title>Collegememes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29109732-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <meta name="title" content="Campusmemes" />
  <meta name="description" content="Find the best memes sorted by likes" />
</head>
<body>
<div class="row">
  <div class="row">
    <header>
      <ul>
        <li><a href="/" class="button">Switch to another College</a></li>
        <li><a href="/about" class="button">About</a></li>
      </ul>
      <a href="/"><h1>Campus Memes</h1></a>
      
    </header>
  </div>
  <% flash.each do |key, value| %>

      <%= content_tag(:div, value, :class => "alert-box success") %>

    <% end %>

  <div class="row">
    <%= yield %>
  </div>

</div>

</body>
</html>
